<div class="category-container">
  <div class="feature">
    <img src="https://wallpapercave.com/wp/wp2850763.jpg" class="feature-img" alt="Vehicle">
    <div class="category-content">
      <h3 id="feature-title">Cars</h3>
      <a href="/vehicles?category=Car&seats=&price_min=&price_max=&speed_min=&speed_max=&location=&commit=Apply+Filters" class="cta"><button class="button-48" role="button"><span class="text">Book Now</span></button></a>
    </div>
  </div>
  <div class="feature">
    <img src="https://assets.newatlas.com/dims4/default/6fd4de6/2147483647/strip/true/crop/2124x1416+2+0/resize/1200x800!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fakira-replica-motorcycle.jpg" class="feature-img" alt="Vehicle">
    <div class="category-content">
      <h3 id="feature-title">Motorcycles</h3>
      <a href="/vehicles?category=Motorcycle&seats=&price_min=&price_max=&speed_min=&speed_max=&location=&commit=Apply+Filters" class="cta"><button class="button-48" role="button"><span class="text">Book Now</span></button></a>
    </div>
  </div>
  <div class="feature">
    <img src="https://static1.srcdn.com/wordpress/wp-content/uploads/2020/03/Black-Pearl-Feature-Image.jpg" class="feature-img" alt="Vehicle">
    <div class="category-content">
      <h3 id="feature-title">Watercraft</h3>
      <a href="/vehicles?category=Watercraft&seats=&price_min=&price_max=&speed_min=&speed_max=&location=&commit=Apply+Filters" class="cta"><button class="button-48" role="button"><span class="text">Book Now</span></button></a>
    </div>
  </div>
  <div class="feature">
    <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYxcdmu2XU_dxaMerQUPDZNj9orNUHCBcrjwggBW7flG0uwErQjwO04ZmDZJZpF6uoy-zPwy1bvhtHvO8_8faEk8AvIhgLub84=w2548-h1257-rw-v1" class="feature-img" alt="Vehicle">
    <div class="category-content">
      <h3 id="feature-title">Aircraft</h3>
      <a href="http://localhost:3000/vehicles?category=Aircraft&seats=&price_min=&price_max=&speed_min=&speed_max=&location=&commit=Apply+Filters" class="cta"><button class="button-48" role="button"><span class="text">Book Now</span></button></a>
    </div>
  </div>
</div>