<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button data-mdb-button-init class="navbar-toggler" type="button" data-mdb-collapse-init aria-label="Toggle navigation"
        aria-controls="navbarSupportedContent" aria-expanded="false" data-mdb-target="#navbarSupportedContent" >
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: center;">
      <ul class="navbar-nav mb-2 mb-lg-0"></ul>
      <!-- Icons -->
      <ul class="navbar-nav d-flex flex-row me-1">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-car-side fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-motorcycle fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-truck-monster fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-truck fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-van-shuttle fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-sailboat fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-plane fa-lg"></i></a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link mx-1" href="#"><i class="fa-solid fa-shuttle-space fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Container wrapper -->
</nav>
