<div class="hero-section">
  <section class="hero">
    <div class="wrap-images">
      <div class="row-images">
        <img src="https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.3,gy-1,q-75,rh-3264,rw-5824,th-1080,tw-1920/1235838688907235328.jpeg" alt="lightning mcqueen">
        <img src="https://c4.wallpaperflare.com/wallpaper/520/855/657/batman-vehicles-batmobile-batman-the-dark-knight-tumbler-1920x1080-technology-vehicles-hd-art-wallpaper-preview.jpg" alt="batmobile">
        <img src="https://ca-times.brightspotcdn.com/dims4/default/2836a1f/2147483647/strip/true/crop/600x400+0+0/resize/600x400!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Faa%2Fa2%2F6ed9c857356beaa6beaf72e68556%2Fla-fi-hy-autos-halo-4-warthog-photos-002" alt="ford anglia hp">
        <img src="https://moviewalker.jp/api/resizeimage/news/article/1087766/10878692?w=1200" alt="ship">
      </div>
      <div class="row-images">
        <img src="https://news.airbnb.com/wp-content/uploads/sites/4/2022/06/Mystery-Machine-Airbnb-01-Exterior-Van-Credit-Hogwash-Studios.jpg?fit=2500%2C1667" alt="mystery-machine">
        <img src="https://w0.peakpx.com/wallpaper/635/821/HD-wallpaper-tron-bike-nice-cool-movie-fantastic-awesome-bike-blue-tron.jpg" alt="tron bike">
        <img src="https://lumiere-a.akamaihd.net/v1/images/razor-crest-main_2f9bb13b.jpeg?region=211%2C7%2C1053%2C526" alt="fighting jet">
        <img src="https://images.squarespace-cdn.com/content/v1/59880578d2b857274d25dec7/1516609149371-E8GBGQ68PFFU4AJM21R2/TeamTimeCar.com-BTTF_DeLorean_Time_Machine-OtoGodfrey.com-JMortonPhoto.com-07.jpg" alt="bttf car">
      </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="text-center text-white my-5">
        <h1 class="title">Experience Adventure On Wheels With</h1>
        <h1 class="name display-3"><strong>Fantasy Fleet</strong></h1>
        <input type="button" value="Book Now" onClick="document.getElementById('index').scrollIntoView();" class="button-6" />
      </div>
    </div>
  </section>
</div>
