<div class="hero-section">
  <section class="hero">
    <div class="wrap-images">
      <div class="row-images">
        <img src="https://www.ultraimagehub.com/wallpapers/tr:flp-false,gx-0.3,gy-1,q-75,rh-3264,rw-5824,th-1080,tw-1920/1235838688907235328.jpeg" alt="lightning mcqueen">
        <img src="https://c4.wallpaperflare.com/wallpaper/520/855/657/batman-vehicles-batmobile-batman-the-dark-knight-tumbler-1920x1080-technology-vehicles-hd-art-wallpaper-preview.jpg" alt="batmobile">
        <img src="https://c1.wallpaperflare.com/preview/383/877/235/harry-potter-car-motor-vehicle-accidents-traffic-accident.jpg" alt="ford anglia hp">
        <img src="https://media.npr.org/assets/img/2023/01/10/gettyimages-1246116726_wide-89ec6f511580a904ca57765968371e7dfd0f01b9.jpg?s=1100&c=50&f=jpeg" alt="rocket">
      </div>
      <div class="row-images">
        <img src="https://wallpapercave.com/wp/wp2789296.jpg" alt="bumblebee">
        <img src="https://i.pinimg.com/originals/42/83/ce/4283ceb419290517b620e6cf40642ce8.jpg" alt="power ranger motorcycle">
        <img src="https://hips.hearstapps.com/hmg-prod/images/speed-tgm-dw-1654631807.jpeg?crop=0.9602067183462533xw:1xh;center,top" alt="fighting jet">
        <img src="https://images.squarespace-cdn.com/content/v1/59880578d2b857274d25dec7/1516609149371-E8GBGQ68PFFU4AJM21R2/TeamTimeCar.com-BTTF_DeLorean_Time_Machine-OtoGodfrey.com-JMortonPhoto.com-07.jpg" alt="bttf car">
      </div>
    </div>
    <div class="container d-flex align-items-center justify-content-center">
      <div class="text-center text-white my-5">
        <h1 class="title">Experience Adventure On Wheels With</h1>
        <h1 class="name display-3"><strong>Fantasy Fleet</strong></h1>
        <input type="button" value="Book Now" onClick="document.getElementById('index').scrollIntoView();" class="button-6" />
      </div>
    </div>
  </section>
</div>
