.card-vehicle {
	overflow: hidden;
	height: 200px;
	background: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
}

.card-vehicle img {
	height: 100%;
	width: 120px;
	object-fit: cover;
}

.card-vehicle h2 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.card-vehicle p {
	font-size: 12px;
	line-height: 1.4;
	opacity: 0.7;
	margin-bottom: 0;
	margin-top: 2px;
}

.card-vehicle .card-vehicle-infos {
	padding: 16px;
}

.hoverClass {
	text-decoration: none !important;
	color: black !important;
}

.hoverClass:hover {
	text-decoration: none !important;
	color: black !important;
}

.hoverTransform:hover {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
		rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.image-container {
	overflow: hidden;
}

.vendor-card-booking:hover {
	transform: scale(1.1);
}
