.form {
	height: auto;
	width: 800px;
	padding: 25px 30px;
	margin: auto;
	border-radius: 5px;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

#button-form {
	width: 100px;
	border-radius: 5px;
	border: 1px solid white;
}

#button-form:hover {
	border: 1px solid white;
	box-shadow: 0px 0px 10px#f2f3f5;
	font-weight: bold;
}
