<div>
  <div class="popup-img-container">
    <% if vehicle.photo.attached? %>
      <%= cl_image_tag vehicle.photo.key, class: 'img-fluid', crop: :fill %>
    <% else %>
      <%= image_tag 'https://tork.buzz/__export/1718370996032/sites/tork/img/2024/06/14/image_10.png_1203501776.png', class: 'img-fluid', crop: :fill %>
    <% end %>
  </div>
  <div m-3>
    <p class="m-2 p-0"><%= vehicle.name %> - <strong><%= number_to_currency(vehicle.price_per_day, unit: "¥", delimiter: ",", precision: 0) %>/day</strong></p>
  </div>
</div>