            
<div style="width: 100%; height: 240px;" class="mt-4"
              data-controller="map"
              data-map-marker-lat-value="<%= @vehicle.latitude %>"
              data-map-marker-lng-value="<%= @vehicle.longitude %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<p class="text-justify text-muted mt-2"><strong>Location:</strong> <%= @vehicle.location %></p>