<% resource_name = :user %>
<% resource_class = User %>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-dark text-white">
        <h5 class="modal-title" id="loginModalLabel">Sign In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'devise/sessions/signin_modal', resource: resource_class.new, resource_name: resource_name, devise_mapping: Devise.mappings[:user] %> <!--RENDER LOGIN FORM (devise >> sessions >> _signin_modal.html.erb)-->
      </div>
    </div>
  </div>
</div>